trash_bin/scifi_configurations.dtd


		<!ELEMENT scifi_configurations (SMB)*>
		<!ELEMENT SMB (info|mutrig)*>
		<!ELEMENT info (version|partsDB|n_mutrig|good_mutrig_index|bad_mutrig_index)*>
		<!ELEMENT version (#PCDATA)>
		<!ELEMENT partsDB (#PCDATA)>
		<!ELEMENT n_mutrig (#PCDATA)>
		<!ELEMENT good_mutrig_index (#PCDATA)>
		<!ELEMENT bad_mutrig_index (#PCDATA)>
		<!ELEMENT mutrig (index|parameters)*>
		<!ELEMENT index (#PCDATA)>
		<!ELEMENT parameters (Header|Channel|TDC|Footer)*>
		<!ELEMENT Header (gen_idle|sync_ch_rst|ext_trig_mode|ext_trig_endtime_sign|ext_trig_offset|ext_trig_endtime|ms_limits|ms_switch_sel|ms_debug|tx_mode|pll_setcoarse|pll_envomonitor|disable_coarse|pll_lol_dbg|en_ch_evt_cnt|dmon_sel|dmon_sel_enable|dmon_sw)*>
		<!ELEMENT gen_idle (#PCDATA)>
		<!ELEMENT sync_ch_rst (#PCDATA)>
		<!ELEMENT ext_trig_mode (#PCDATA)>
		<!ELEMENT ext_trig_endtime_sign (#PCDATA)>
		<!ELEMENT ext_trig_offset (#PCDATA)>
		<!ELEMENT ext_trig_endtime (#PCDATA)>
		<!ELEMENT ms_limits (#PCDATA)>
		<!ELEMENT ms_switch_sel (#PCDATA)>
		<!ELEMENT ms_debug (#PCDATA)>
		<!ELEMENT tx_mode (#PCDATA)>
		<!ELEMENT pll_setcoarse (#PCDATA)>
		<!ELEMENT pll_envomonitor (#PCDATA)>
		<!ELEMENT disable_coarse (#PCDATA)>
		<!ELEMENT pll_lol_dbg (#PCDATA)>
		<!ELEMENT en_ch_evt_cnt (#PCDATA)>
		<!ELEMENT dmon_sel (#PCDATA)>
		<!ELEMENT dmon_sel_enable (#PCDATA)>
		<!ELEMENT dmon_sw (#PCDATA)>
		<!ELEMENT Channel (energy_c_en|energy_r_en|sswitch|cm_sensing_high_r|amon_en_n|edge|edge_cml|cml_sc|tdctest_n|amonctrl|comp_spi|tthresh_offset_1|sipm|tthresh_offset_2|tthresh_sc|tthresh|ampcom_sc|ampcom|tthresh_offset_0|inputbias|ethresh|ebias|pole_sc|pole|cml|delay|pole_en_n|mask|recv_all)*>
		<!ELEMENT energy_c_en (#PCDATA)>
		<!ELEMENT energy_r_en (#PCDATA)>
		<!ELEMENT sswitch (#PCDATA)>
		<!ELEMENT cm_sensing_high_r (#PCDATA)>
		<!ELEMENT amon_en_n (#PCDATA)>
		<!ELEMENT edge (#PCDATA)>
		<!ELEMENT edge_cml (#PCDATA)>
		<!ELEMENT cml_sc (#PCDATA)>
		<!ELEMENT tdctest_n (#PCDATA)>
		<!ELEMENT amonctrl (#PCDATA)>
		<!ELEMENT comp_spi (#PCDATA)>
		<!ELEMENT tthresh_offset_1 (#PCDATA)>
		<!ELEMENT sipm (#PCDATA)>
		<!ELEMENT tthresh_offset_2 (#PCDATA)>
		<!ELEMENT tthresh_sc (#PCDATA)>
		<!ELEMENT tthresh (#PCDATA)>
		<!ELEMENT ampcom_sc (#PCDATA)>
		<!ELEMENT ampcom (#PCDATA)>
		<!ELEMENT tthresh_offset_0 (#PCDATA)>
		<!ELEMENT inputbias (#PCDATA)>
		<!ELEMENT ethresh (#PCDATA)>
		<!ELEMENT ebias (#PCDATA)>
		<!ELEMENT pole_sc (#PCDATA)>
		<!ELEMENT pole (#PCDATA)>
		<!ELEMENT cml (#PCDATA)>
		<!ELEMENT delay (#PCDATA)>
		<!ELEMENT pole_en_n (#PCDATA)>
		<!ELEMENT mask (#PCDATA)>
		<!ELEMENT recv_all (#PCDATA)>
		<!ELEMENT TDC (vnd2c_scale|vnd2c_offset|vnd2c|vncntbuffer_scale|vncntbuffer_offset|vncntbuffer|vncnt_scale|vncnt_offset|vncnt|vnpcp_scale|vnpcp_offset|vnpcp|vnvcodelay_scale|vnvcodelay_offset|vnvcodelay|vnvcobuffer_scale|vnvcobuffer_offset|vnvcobuffer|vnhitlogic_scale|vnhitlogic_offset|vnhitlogic|vnpfc_scale|vnpfc_offset|vnpfc|latchbias)*>
		<!ELEMENT vnd2c_scale (#PCDATA)>
		<!ELEMENT vnd2c_offset (#PCDATA)>
		<!ELEMENT vnd2c (#PCDATA)>
		<!ELEMENT vncntbuffer_scale (#PCDATA)>
		<!ELEMENT vncntbuffer_offset (#PCDATA)>
		<!ELEMENT vncntbuffer (#PCDATA)>
		<!ELEMENT vncnt_scale (#PCDATA)>
		<!ELEMENT vncnt_offset (#PCDATA)>
		<!ELEMENT vncnt (#PCDATA)>
		<!ELEMENT vnpcp_scale (#PCDATA)>
		<!ELEMENT vnpcp_offset (#PCDATA)>
		<!ELEMENT vnpcp (#PCDATA)>
		<!ELEMENT vnvcodelay_scale (#PCDATA)>
		<!ELEMENT vnvcodelay_offset (#PCDATA)>
		<!ELEMENT vnvcodelay (#PCDATA)>
		<!ELEMENT vnvcobuffer_scale (#PCDATA)>
		<!ELEMENT vnvcobuffer_offset (#PCDATA)>
		<!ELEMENT vnvcobuffer (#PCDATA)>
		<!ELEMENT vnhitlogic_scale (#PCDATA)>
		<!ELEMENT vnhitlogic_offset (#PCDATA)>
		<!ELEMENT vnhitlogic (#PCDATA)>
		<!ELEMENT vnpfc_scale (#PCDATA)>
		<!ELEMENT vnpfc_offset (#PCDATA)>
		<!ELEMENT vnpfc (#PCDATA)>
		<!ELEMENT latchbias (#PCDATA)>
		<!ELEMENT Footer (coin_xbar_lower_rx_ena|coin_xbar_lower_tx_ena|coin_xbar_lower_tx_vdac|coin_xbar_lower_tx_idac|coin_mat_xbl|coin_mat_0|coin_mat_1|coin_mat_2|coin_mat_3|coin_mat_4|coin_mat_5|coin_mat_6|coin_mat_7|coin_mat_8|coin_mat_9|coin_mat_10|coin_mat_11|coin_mat_12|coin_mat_13|coin_mat_14|coin_mat_15|coin_mat_16|coin_mat_17|coin_mat_18|coin_mat_19|coin_mat_20|coin_mat_21|coin_mat_22|coin_mat_23|coin_mat_24|coin_mat_25|coin_mat_26|coin_mat_27|coin_mat_28|coin_mat_29|coin_mat_30|coin_mat_31|coin_mat_xbu|coin_xbar_upper_rx_ena|coin_xbar_upper_tx_ena|coin_xbar_upper_tx_vdac|coin_xbar_upper_tx_idac|coin_wnd|amon_en|amon_dac|dmon_1_en|dmon_1_dac|dmon_2_en|dmon_2_dac|lvds_tx_vcm|lvds_tx_bias)*>
		<!ELEMENT coin_xbar_lower_rx_ena (#PCDATA)>
		<!ELEMENT coin_xbar_lower_tx_ena (#PCDATA)>
		<!ELEMENT coin_xbar_lower_tx_vdac (#PCDATA)>
		<!ELEMENT coin_xbar_lower_tx_idac (#PCDATA)>
		<!ELEMENT coin_mat_xbl (#PCDATA)>
		<!ELEMENT coin_mat_0 (#PCDATA)>
		<!ELEMENT coin_mat_1 (#PCDATA)>
		<!ELEMENT coin_mat_2 (#PCDATA)>
		<!ELEMENT coin_mat_3 (#PCDATA)>
		<!ELEMENT coin_mat_4 (#PCDATA)>
		<!ELEMENT coin_mat_5 (#PCDATA)>
		<!ELEMENT coin_mat_6 (#PCDATA)>
		<!ELEMENT coin_mat_7 (#PCDATA)>
		<!ELEMENT coin_mat_8 (#PCDATA)>
		<!ELEMENT coin_mat_9 (#PCDATA)>
		<!ELEMENT coin_mat_10 (#PCDATA)>
		<!ELEMENT coin_mat_11 (#PCDATA)>
		<!ELEMENT coin_mat_12 (#PCDATA)>
		<!ELEMENT coin_mat_13 (#PCDATA)>
		<!ELEMENT coin_mat_14 (#PCDATA)>
		<!ELEMENT coin_mat_15 (#PCDATA)>
		<!ELEMENT coin_mat_16 (#PCDATA)>
		<!ELEMENT coin_mat_17 (#PCDATA)>
		<!ELEMENT coin_mat_18 (#PCDATA)>
		<!ELEMENT coin_mat_19 (#PCDATA)>
		<!ELEMENT coin_mat_20 (#PCDATA)>
		<!ELEMENT coin_mat_21 (#PCDATA)>
		<!ELEMENT coin_mat_22 (#PCDATA)>
		<!ELEMENT coin_mat_23 (#PCDATA)>
		<!ELEMENT coin_mat_24 (#PCDATA)>
		<!ELEMENT coin_mat_25 (#PCDATA)>
		<!ELEMENT coin_mat_26 (#PCDATA)>
		<!ELEMENT coin_mat_27 (#PCDATA)>
		<!ELEMENT coin_mat_28 (#PCDATA)>
		<!ELEMENT coin_mat_29 (#PCDATA)>
		<!ELEMENT coin_mat_30 (#PCDATA)>
		<!ELEMENT coin_mat_31 (#PCDATA)>
		<!ELEMENT coin_mat_xbu (#PCDATA)>
		<!ELEMENT coin_xbar_upper_rx_ena (#PCDATA)>
		<!ELEMENT coin_xbar_upper_tx_ena (#PCDATA)>
		<!ELEMENT coin_xbar_upper_tx_vdac (#PCDATA)>
		<!ELEMENT coin_xbar_upper_tx_idac (#PCDATA)>
		<!ELEMENT coin_wnd (#PCDATA)>
		<!ELEMENT amon_en (#PCDATA)>
		<!ELEMENT amon_dac (#PCDATA)>
		<!ELEMENT dmon_1_en (#PCDATA)>
		<!ELEMENT dmon_1_dac (#PCDATA)>
		<!ELEMENT dmon_2_en (#PCDATA)>
		<!ELEMENT dmon_2_dac (#PCDATA)>
		<!ELEMENT lvds_tx_vcm (#PCDATA)>
		<!ELEMENT lvds_tx_bias (#PCDATA)>
